**/__pycache__/
*~


config.backup
config.base
config.orig
config_with_workspace_groups
config_without_workspace_groups
conkyrc_backup
conkyrc_new
lemonbar_config
.conkyrc.swp
.compton.conf.swp
i3scripts/Rofication/
i3scripts/matrixlock/
.dunstrc.swp
